{% extends 'partials/base.html' %}
{% load static %}


{% block body %}
<section class="hero d-flex align-items-end py-5 bg-cover bg-center"
  style="background: url({% static 'img/tool-detail-bg.jpg' %})">
  <div class="container index-forward py-5 py-lg-0">
    <div class="row align-items-end">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <div class="media align-items-center"><img class="rounded-circle" src="{{teacher.image_url}}"
            alt="{{teacher}} image" width="80">
          <div class="media-body ml-3">
            <h1 class="text-white">{{teacher}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <!-- About-->
        <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
          <div class="card-body p-lg-5">
            <h2 class="h3 mb-4">About {{teacher}}</h2>
            <p>You can reach {{teacher.first_name}} via the email: <a href="mailto:{{teacher.email}}">{{teacher.email}}</a>. Sometimes it may be faster to dial <a href="tel:{{teacher.phone_no}}">{{teacher.phone_no}}</a>. If these two options fail, you can knock on their door at room {{teacher.room_no}}.</p>
          </div>
        </div>
        <!-- Gallery-->
        <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
          <div class="card-body p-lg-5">
            <h2 class="h3 mb-4">Gallery</h2>
            <div class="rounded overflow-hidden mb-3">
              <div class="owl-carousel tool-gallery-slider" data-slider-id="1">
                <a class="d-block" href="" data-lightbox="tool-gallery"
                  title="{{teacher}} image"><img class="img-fluid" src="{{teacher.image_url}}" alt="{{teacher}} image"></a>
              </div>
              <div class="owl-thumbs row px-2" data-slider-id="1">
                <div class="owl-thumb-item col-3 px-2"><img class="w-100" src="{{teacher.image_url}}" alt="{{teacher}} image"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <!-- Categories widget-->
        <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
          <div class="card-body p-lg-5">
            <h2 class="h3 mb-4">Subjects taught</h2>
            <ul class="list-inline mb-0">
              {% for subject in teacher.subjects_taught.all %}
              <li class="list-inline-item m-1"><a class="btn btn-light" href="{% url 'teacher:list-by-subject' subject.name %}">{{subject.name}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}