{% extends 'partials/base.html' %}
{% load static %}

{% block body %}
<section class="py-5">
  <div class="container pb-5">
    <header class="text-center mb-5">
      <h2 class="mb-1">Directory of all available teachers</h2>
      <p class="text-muted text-small">{{teachers.count}} teacher(s) found</p>
    </header>
    <div class="row text-center">
    {% if teachers %}
      {% for teacher in teachers %}
      <div class="col-lg-3 px-lg-2">
        <div class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition">
          <div class="card-body px-4 py-5">
            <img src="{{teacher.image_url}}" alt="{{teacher}} image" class="img img-fluid">
            <h2 class="h5"> <a class="stretched-link reset-anchor-inherit" href="{% url 'teacher:detail' teacher.id %}">{{teacher}}</a></h2>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</section>
{% endblock body %}