{% extends 'partials/base.html' %}
{% load static %}

{% block body %}
<section class="py-5">
  <div class="container pt-5">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center">
        <p class="h6 text-uppercase text-primary mb-3">Teacher Listings</p>
        <h1 class="mb-5">A curated directory of our best teachers.</h1>
        <form class="p-2 rounded shadow-sm bg-white" action="#">
          <div class="input-group">
            <input class="form-control border-0 mr-2" type="search" placeholder="Search tools and resources...">
            <div class="input-group-append rounded">
              <button class="btn btn-primary rounded" type="submit"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock body %}